body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #667eea;
}

#calculadora {
    display: block;
    margin-bottom: 30px;
    width: 350px;
    height: 580px;
    border: 1px solid black;
    background-color: #2c3e50;
    text-align: center;
    padding: 3px;
    border-radius: 5%;
}

#botones input {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 2em;
    margin: 5px;
    border: 1px solid #666;
    border-radius: 20%;
    cursor: pointer;
}

#botones input:hover {
         opacity: 0.8;
}

#botones input:active {
  transform: translateY(2px); 
}

#pantalla {
    width: 80%;
    height: 60px;
    font-size: 3em;
    font-family: 'VT323', monospace;
    margin-bottom: 20px;
    text-align: right;
    background: #9cb89c;
    color: #000;
    border: 2px inset #666;
    border-radius: 10px;
    box-shadow: inset 0 2px 10px rgba(0,0,0,0.5);
    outline: none;
}

.boton1 {
    background-color: #e67e22;
}

.boton2 {
    color: white;
    font-weight: bold;
    background-color: #95a5a6;
}

.boton3 {
    color: white;
    font-weight: bold;
    background-color: #27ae60;
}

p {
    color: white;
}